doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/javascripts/jquery-3.7.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/layout.js"></script>

  body
    block content
